:root{
    --sidebar:200px;
  }

  *{
      box-sizing: border-box;
  }

  .editor-container{
      overflow: hidden;
      background-color: #403D4E;
  }

.sidebar, .main-container{
    height: calc(100vh);
    overflow: auto;
    background-color: #403D4E;
    color: #fff;
}

.sidebar{
   width: var(--sidebar);
   float: left;
   box-shadow: 3px 0px 6px #00000028;
}

.main-container{
    width: calc(100% - (var(--sidebar) + 1px));
}

.image-container{
    display: flex;
    align-items: flex-end;
    padding: 20px 25px;
    margin-bottom: 30px;
}

.image-container img{
    width: 60px;
    margin-right: 10px;
}

.name span:not(:first-child){
    font-size: 20px;
}

.resource-types{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-container{
    display: flex;
    align-items: center;   
}

.buttons-container .user{
    width: 60px;
    border-radius: 50px;
    margin-left: 30px;
}

.buttons-container button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 150px;
    font-size: 16px;
    border-radius: 50px;
    border: 2px solid #21F9CF;
    background-color: transparent;
    color: #21F9CF;
    margin: 0 10px;
    transform: scale(0.8);
}

.buttons-container button:hover{
    background-color: rgba(255, 255, 255, 0.925);
    font-size: 14px;
    color: rgb(9, 133, 108);
    border: 2px solid rgb(5, 204, 164)
}

.deploy{
    background-color: #25FCCA!important;
    color: rgb(9, 133, 108)!important;
}

.deploy:hover{
    background-color: rgba(255, 255, 255, 0.925)!important;
    color: rgb(9, 133, 108)!important;
}

.buttons-container button:hover{
    cursor: pointer;
}

.buttons-container button img{
    width: 20px;
}
.deploy:hover img{
    width: 20px;
    display: none;
}

.deploy:hover::before{
    width: 20px;
    content: url(../../assets/deploy-hover.png)
}


.resource-heading{
    font-size: 20px;
    color: #21F9CF;
    border-bottom: 2px solid #21F9CF;
    display: inline-block;
    padding-bottom: 7px;
}

.nav-container{
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.workflow-code{
    position: relative;
}

.workflow-code, .workflow, .code{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.workflow{
    width: 100px;
    margin-right: 25px;
} 

.code{
    width: 70px;
}

.under-line{
    position: absolute;
    top: 32px;
    border-bottom: 2px solid #21F9CF;
    width: 100px;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.move-right{
    transform: translateX(120px);
    width: 85px;
}

.workflow-code img{
    width: 20px;
}

.work-space, .code-space{
    background-color: #2C2A37;
    width: calc(100% - 3px);
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-space{
    background-image: url(../../assets/workspace_bg.png);
    position: relative;
}