:root{
    --sidebar:240px;
  }

  *{
      box-sizing: border-box;
  }

  .editor-container{
      overflow: hidden;
      background-color: #403D4E;
  }

.sidebar, .main-container{
    height: calc(100vh);
    overflow: auto;
    display: inline-block;
    vertical-align: top;
    background-color: #403D4E;
    color: #fff;
}

.sidebar{
   width: var(--sidebar);
}

.main-container{
    width: calc(100% - (var(--sidebar) + 1px));
}

.image-container{
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    padding: 20px 25px;
    margin-bottom: 30px;
}

.image-container img{
    width: 60px;
    margin-right: 10px;
}

.name span:not(:first-child){
    font-size: 20px;
}

.resource-types{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-container{
    display: flex;
    align-items: center;
}

.buttons-container .user{
    width: 60px;
    border-radius: 50px;
    margin-left: 30px;
}

.buttons-container button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 70px;
    font-size: 16px;
    border-radius: 50px;
    border: 0px solid #21F9CF;
    background-color: transparent;
    color: #21F9CF;
    /* margin: 0 10px; */
    transform: scale(0.8);
    transition: all 0.2s;
}

.buttons-container button:hover{
    background-color: rgba(255, 255, 255, 0.925);
    font-size: 14px;
    color: rgb(9, 133, 108);
    border: 2px solid rgb(5, 204, 164)
}

.deploy{
    background-color: #25FCCA!important;
    color: #403D4E!important;
    transition: all 0.2s;
    width: 120px!important;
    padding: 12px 10px!important;
}

.deploy:hover, .upload:hover, .save:hover, .download:hover{
    background-color: transparent!important;
    color: white!important;
    width: 140px;
}

.buttons-container button img{
    width: 20px;
}

.deploy img{
    content: url(../../assets/deploy.png);
}

.deploy:hover img{
    content: url(../../assets/deploy-hover.png);

}

.save img{
    width: 30px!important;
}

.upload:hover::after{
    content: "Upload"
}

.download:hover::after{
    content: "Download"
}

.save:hover::after{
    content: "Save"
}

.resource-heading{
    font-size: 22px;
    color: #21F9CF;
    border-bottom: 5px solid #21F9CF;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 7px;
    width: 200px;
    border-radius: 2px;
}

.nav-container{
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 3px 0px 6px #00000028;
    height: 80px;
}

.workflow-code{
    position: relative;
}

.workflow-code, .workflow, .code{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.workflow{
    width: 100px;
    margin-right: 25px;
} 

.code{
    width: 70px;
}

.under-line{
    position: absolute;
    top: 32px;
    border-bottom: 2px solid #21F9CF;
    width: 100px;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.move-right{
    transform: translateX(120px);
    width: 85px;
}

.workflow-code img{
    width: 20px;
}

.work-space, .code-space{
    background-color: #2C2A37;
    width: calc(100% - 3px);
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-space{
    background-image: url(../../assets/workspace_bg.png);
    position: relative;
}

.properties{
    position: fixed;
    top: 80px;
    right: -314px;
    width: 324px;
    height: calc(100vh - 80px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-shadow: inset 0px 3px 5px rgba(46,52,51,0.78);
    background-color: #403d4e;
    transition: all 0.3s ease;
}

.properties-title{
    height: 44.5px;
    width: 186px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #21F9CF;
    margin-top: 10px;
    font-size: 22px;
    border-bottom: 5px solid #21F9CF;
    border-radius: 2px;
}


.arch-title{
    padding: 10px 20px;
    border-radius: 50px;
    background-color: rgba(129, 124, 150, 0.35);
}

.arch-title:hover{
    cursor: pointer;
}

.arch-title:focus{
    cursor: text
}