.ec2-form{
    position: fixed;
    top: 110px;
    right: 10px;
    display: flex;
    flex-direction: column;  
    transition: all 0.4s ease;  
    background-color: rgba(128, 128, 128, 0.39);
    padding: 10px;
    border-radius: 3px;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.156);
    border: 1px solid rgba(99, 98, 98, 0.445);
}

.form-elements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hide{
    transform: translateX(100px);
    opacity: 0;
    visibility: hidden;
}

.form-elements input{
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid rgba(99, 98, 98, 0.445);
    margin: 5px 0;
}

.ec2-form button{
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.507);
    cursor: pointer;
    margin-top: 5px;
}

select{
    padding: 5px 10px;
    color: rgba(0, 0, 0, 0.685);    
    margin: 5px 0;
}