.ec2-form{
    position: fixed;
    top: 110px;
    right: 10px;
    display: flex;
    flex-direction: column;  
    transition: all 0.4s ease;  
    background-color: gray;
    padding: 10px;
    border-radius: 3px;
}

.form-elements{
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-around;
}

.hide{
    transform: translateX(100px);
    opacity: 0;
    visibility: hidden;
}