.side-bar{
    background-color: #F8F8F8;
    height: 55vh;
    overflow: auto;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.137);
    margin-top: 5px;
    z-index: 1;
}

.side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -10px;
}

.side-bar--heading span{
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0 10px 0;
}

.items div{
    list-style: none;
    padding: 8px 10px;
    transition: all 0.4s ease;
    cursor: pointer;
    color: #A2A2A2;
}

.items div:hover{
    background: rgb(211, 211, 211);
    border-radius: 5px;
    color: #fff;
}

.json{
    transition: all 0.3s ease;
}

.json-selected,.xaml-selected{
    background-color: #A2A2A2;
    color: #fff!important;
    padding: 5px 10px;
    border-radius: 5px;
}