.dashboard-container{
    overflow: hidden;
}

.dashboard-nav{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    background-color: #403D4E;
    color: #fff;
}

.logo-container img{
    width: 40px;
}

.logo-container span:last-child{
    font-size: 22px;
}

.logo-container{
    display: flex;
    align-items: flex-end;
    width: 150px;
    justify-content: space-around;
}

.profile img{
    width: 50px;
    margin-right: 30px;
}

.project-container{
    background-color: #2C2A37;
    height: calc(100vh - 90px);
}

.project-heading{
    color: #21F9CF;
    font-size: 20px;
    padding: 30px 100px;
}

.project-listview{
    margin: 0 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
    height: calc(100vh - 170px);
    overflow: auto;
}


/* custom scroll bar */

#list-id::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: rgba(44, 42, 55, 0.575);
	border-radius: 10px;
}

#list-id::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

#list-id::-webkit-scrollbar-thumb
{
	background-color: #403D4E;
	border-radius: 10px;
	background-image: #403D4E;
}

.add-symbol img{
    width: 80px;
}

.add-project{
    color: #21F9CF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}



.override-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: transparent!important;
    /* border: dashed 1px #21F9CF; */
    cursor: pointer;
}

.override-card:hover{
    border: 1px solid #21F9CF!important;
    transform: scale(1)!important;
}


.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.825);
}

.hide{
    display: none;
    opacity: 0;
}